body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
  background-size: 53px, 50px;
}

#icon1, #icon3 {
    width: 13px;
}

#icon2 {
    width: 14px;
}

.icon1,
.icon2,
.icon3 {
    transform-origin: 50% 50%;
}

#logo {
    width: 140px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo-text {
    display: none;
}
#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

a svg .icon1 {
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
}
a svg:hover .icon1 {
    fill: #111;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

a svg .icon2 {
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
}

a svg:hover .icon2 {
    fill: #111;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

a svg .icon3 {
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
}

a svg:hover .icon3 {
    fill: #111;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }

#corgi-red, #corgi-fawn,
#corgi-sable, #corgi-blacktan {
    width: 170px;
    height: 170px;
}

    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media screen and (max-width: 420px) {
    .logo-letters {
        display: none;
    }
    
    #logo-text {
        display: block;
        color: deepskyblue;
    }
    #logo {
        display: block;
    }
}


